@media (max-width: 635px) {
  html h1 {
    font-size: 23px;
    margin-top: 45px;
  }
  html arrow {
    display: block;
    width: 100%;
    background-image: url("arrow-down.png");
  }
}
@media (max-width: 900px) {
  html div#sample {
    display: none;
  }
  html div#titleholder {
    max-width: 100%;
  }
  html section:not(#promo) {
    height: initial;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  html side {
    display: block;
    height: initial;
    margin-bottom: 30px;
    width: 100%;
    max-width: none;
  }

  html img {
    margin: 0px;
    width: calc(100% - 90px);
    margin-bottom: 60px;
    max-width: 419px;
    margin-top: 10px;
  }

  html .rev img {
    margin-top: 15px;
  }

  html h2 {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  html input[type="email"] {
    font-size: 17px;
    width: 100%;
  }

  html input[type="submit"] {
    font-size: 17px;
    padding: 5px;
    vertical-align: 0px;
  }
}

h1 {
  font-weight: 400;
  font-size: 36px;
  text-align: center;
  margin: 0px;
  display: inline-block;
  width: 100%;
}

html {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  background: #fff;
}

body {
  margin: 0px;
}

p {
  text-align: center;
  font-size: 18px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  color: #34373a;
}

section#promo {
  font-size: 0px;
  display: block;
  background-color: #2a2d3a;
  text-align: center;
  height: inherit;
  padding-bottom: 90px;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
  border-bottom: 5px solid #007bdc;
}


form {
  text-align: left;
  margin: 15px;
  margin-top: 35px;
}

input[type="email"] {
  font-size: 20px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #757575;
  width: 300px;
  margin-right: 5px;
  display: block;
}

input[type="submit"], a.submit {
  font-size: 20px;
  background: none;
  border: 1px solid #007bdc;
  background-color: #03A9F4;
  color: #fff;
  padding: 7px;
  border-radius: 3px;
  vertical-align: 2px;
  cursor: pointer;
  display: block;
  margin-top: 18px;
}

section {
  height: 490px;
}

side {
  display: inline-block;
  width: 50%;
  height: 100%;
  vertical-align: bottom;
  max-width: 450px;
}

h2 {
  font-weight: 300;
  color: #495861;
  text-align: center;
  margin-top: 161px;
  font-size: 31px;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  display: inline-block;
  width: calc(50% - 50px);
  box-shadow: 0 1px 20px 1px rgba(0, 0, 0, 0.39);
  border-radius: 6px;
  vertical-align: baseline;
  margin-bottom: 142px;
}

div#centreholder {
  text-align: center;
}

#centreholder section {
  display: inline-block;
  width: 100%;
}

h1 {
  margin-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

#promo p {
  color: #c3bebe;
  text-align: left;
  display: block;
}

input[type="submit"]:hover {

}


footer {
  padding: 60px;
  border-top: 5px solid #007bdc;
  color: #c3bebe;
  background-color: #2a2d3a;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.2), rgba(0,0,0,.2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}

footer span {
}

a {
  text-decoration: underline;
  color: white;
}


logo {
  display: block;
  padding: 15px;
  font-size: 30px;
  color: #fff;
  background-color: #282c34;
  font-family: 'Asap', sans-serif;
  position: absolute;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.47);
}

div#sample {
  text-align: center;
  font-size: 0px;
  display: inline-block;
  max-width: calc(50% - 30px);
  position: relative;
  top: -84px;
  margin-left: 40px;
}

#sample span {
  color: #fff;
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}

arrow {
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  vertical-align: middle;
  display: block;
  width: 100%;
  background-image: url("arrow-down.png");
  margin-top: 15px;
  margin-bottom: 15px;
}

blue {
  color: #60AEEE;
}

purple {
  color: #C477DB;
}

green {
  color: #98C379;
}

#sample span:last-child {
  text-align: left;
}


div#mc_embed_signup {
  display: block;
  margin: 5px;
  color: #fff;
  text-align: center;
  margin-top: 45px;
}

#mc_embed_signup h2 {
  padding: 0px;
  margin: 0px;
}

form#mc-embedded-subscribe-form {
  margin: 0px;
  margin: 15px;
}

.clear {
  display: inline-block;
  margin-top: 5px;
}

.mc-field-group {
  display: inline-block;
}

#titleholder h1 {
  color: #fff;
  display: block;
  text-align: left;
  font-family: 'Asap', sans-serif;
  font-size: 50px;
}

label {
  font-size: 20px;
}

#titleholder a.submit {display: initial;position: relative;top: 18px;}


div#titleholder {
text-align: left;
display: inline-block;
max-width: 50%;
}


#titleholder div {
  margin-top: 30px;
  display: block;
  text-align: left;
  margin-left: 15px;
}

#last > div {
  margin-top: 80px;
}

section.rev {
  background-color: #f3f3f3;
}


section#last {
  background-color: #f3f3f3;
  height: inherit;
  padding-bottom: 90px;
  text-align: center;
}


#last > form {
  display: inline-block;
}


#titleholder > h2 {
  margin: 0px;
  color: #fff;
  font-size: 26px;
  padding-left: 15px;
  padding-right: 0px;
  margin-bottom: 30;
  text-align: left;
}

lil {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 20px;
  vertical-align: 22px;
  margin-left: 5px;
  background-color: white;
  text-shadow: none;
  border-radius: 3px;
  color: black;
  padding: 3px;
  font-weight: 400;
}

section > img {
  max-width: 400px;
}
